# Kopiér denne fil til .env og udfyld de rigtige værdier.
# .env skal IKKE commit'es.

EMAIL_SMTP_USERNAME=info@example.com
EMAIL_SMTP_PASSWORD=CHANGEME
EMAIL_SMTP_FROM_EMAIL=info@example.com
EMAIL_SMTP_HOST=send.one.com
EMAIL_IMAP_USERNAME=info@example.com
EMAIL_IMAP_PASSWORD=CHANGEME
EMAIL_IMAP_HOST=imap.one.com

SMS_URL=https://api.gatewayapi.com
SMS_API_KEY=CHANGEME
